body {
  color: #151111; /* Dark grey with a little of red saturation */
  background: #fff;
  font-family: "Helvetica Neue", "Lato", helvatica, sans-serif;

  /* Our base font of 18px. Line-heights, margins, and paddings calculated to
   * produce vertical rhyhtm. */
  font-size: 18px;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

a {
  /* color: #ff3366; */ /* red persimmon */
  /* color: #003beb; */ /* spring blue */
  color: #53912a; /* awesome green */
  text-decoration: underline;
}

a:hover {
  color: #ff3366; /* red persimmon */
}

hr {
  border: 1px solid #eee;
  width: 400px;

  /* The HR is 2px tall (1px top and bottom border). We have a 27px baseline, so
   * this means we have 25px left. Hence 25px margin. */
  margin: 25px 0;
}

img {
  border: 0px;
}

img#background {
  position: fixed;
  bottom: 0;
  right: 0;
}

code {
  font-family: "inconsolata-1", "inconsolata-2", monospace;
  font-weight: bold;
  font-size: 1em;
  line-height: 1em; /* For some reason, 1em for monospace fonts gives us vertical rhyhtm. */
}

pre {
  font-size: 1em;
  font-family: "inconsolata-1", "inconsolata-2", monospace;
  border-left: 8px solid #eeeeee;
  padding: 0 1em;
  margin: 1.5em 0; /* 1.5em margin to flow with default body line-height. */
}

/*
 * Headers
 * 
 * For headers, we use http://modularscale.com to produce a scale in base size
 * 18px using the "perfect-fourth" ratio.
 *
 * font     font
 * px       em      line-height (1.5 / em)
 * =======+========+==============
 * 56.832 | 3.157  | .475134621
 * 42.635 | 2.369  | .633178556
 * 31.984 | 1.777  | .844119302
 * 23.994 | 1.333  | 1.12528132
 * 18     | 1      | 1.5
 * 13.503 | 0.75   | 2
 * 10.13  | 0.563  | 2.664298401
 *
 *
 * The line-height measurements above are calculated via (1.5 em / font em).
 * This represents the line-height (and margin/padding, if applicable) needed to
 * make each element hit the right vertical line.
 */

h1 {
  font-size: 2.369em;
  line-height: 0.63317856em;
  margin-bottom: 0.63317856em;
  font-weight: bold;
}

h2 {
  font-size: 1.777em;

  /* This line-height calculated by pretending our base rhyhtm is at 13.5px
   * instead of 27px (found by 18px * 1.5em).  This is done to produce some
   * spacing between multi-lined headers.
   *
   * = (1.5em * 1.5) / 1.777em
   */
  line-height: 1.266178953em;

  margin: 0 0 0.8441193em 0;
  font-weight: bold;
}

h3 {
  font-size: 1.333em;
  line-height: 1.12528132em;
  margin: 0 0 1.12528132em 0;
  font-weight: bold;
}

ul {
  list-style: none;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 1.5em;
  padding-left: 1em;
  text-indent: -1em;
}

#structure {
  position: relative;
  height: auto;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0 40px;
  width: 700px;
}

#header h1 {
  color: #FF5A33;
  margin-top: 0;
  padding-top: 40px;
}

#header h1.small {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

#header a {
  text-decoration: none;
  color: #FF5A33;
}

#footer {
  margin-top: 1em;
}

#footer a {
  color: #222222;
}

#footer a:hover {
  color: #ff3366; /* red persimmon */
}

#email {
  text-decoration: underline;
}

.floatleft {
  float: left;
  clear: left;
  margin: 0px 15px 10px 0px;
  border: 0px;
  padding 5px;
}

.quote {
  text-align: justify;
  text-shadow: 1px 1px 0px #eee;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  color: #333;
  padding-left: 20px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.quoter {
}

.intro {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #FFEC5C; /* yellow */
  /*border: 1px solid #FFE313;*/
  -moz-border-radius: 20px; 
  border-radius: 20px; 

}

.thin {
  width: 340px;
}

.center {
  text-align: center;
}

.green {
  background-color: #d6e6be;
}

.blue {
  background-color: #d5dfeb;
}

.purple {
  background-color: #debce3;
  /*border: 1px solid #D679E3;*/
}

.red {
  background-color: #ebdbd5;
}

.meta {
  color: #aaa;
}

.article-metadata {
  color: #999;
  font-size: 14px;
}

.post-content {
  /* Hits about 80 characters per line with font size 16px */
  width: 600px;
}
