/* From https://github.com/richleland/pygments-css */

/* Includes Elben's modifications */


.highlight .hll { background-color: #ffffcc }
.highlight .c {
  font-style: normal;
  color: #999988;
} /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .cm { font-style: italic; color: #999988; } /* Comment.Multiline */
.highlight .c1 { font-style: italic; color: #999988; } /* Comment.Single */
.highlight .cs { font-style: italic; color: #999988; } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gp { font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kn { font-weight: bold } /* Keyword.Namespace */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .s { } /* Literal.String */
.highlight .nc { font-weight: bold } /* Name.Class */
.highlight .ni { font-weight: bold } /* Name.Entity */
.highlight .ne { font-weight: bold } /* Name.Exception */
.highlight .nn { font-weight: bold } /* Name.Namespace */
.highlight .nt { font-weight: bold } /* Name.Tag */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .sb { } /* Literal.String.Backtick */
.highlight .sc { } /* Literal.String.Char */
.highlight .sd { } /* Literal.String.Doc */
.highlight .s2 { } /* Literal.String.Double */
.highlight .se { font-weight: bold; font-style: italic } /* Literal.String.Escape */
.highlight .sh { } /* Literal.String.Heredoc */
.highlight .si { font-weight: bold; font-style: italic } /* Literal.String.Interpol */
.highlight .sx { } /* Literal.String.Other */
.highlight .sr { } /* Literal.String.Regex */
.highlight .s1 { } /* Literal.String.Single */
.highlight .ss { } /* Literal.String.Symbol */


@media print {
  .highlight .c { color: inherit; } /* Comment */
  .highlight .cm { font-style: italic; color: inherit; } /* Comment.Multiline */
  .highlight .c1 { font-style: italic; color: inherit; } /* Comment.Single */
  .highlight .cs { font-style: italic; color: inherit; } /* Comment.Special */
}
